footer {
    .elementor .elementor-hidden {

        &-mobile,
        &-phone {
            &:has(.aux-has-logo) {
                display: block;
            }
        }
    }


    .aux-has-logo {
        &.aux-logo-anchor {
            width: 40px;
            max-width: unset;
        }

        img {
            .dark-mode & {
                filter: invert(1);
            }
        }
    }
}