/* Fancy global styles */
.heart {
    &__rotating-3d.elementor-element {
        mix-blend-mode: plus-lighter;

        .elementor-widget-container img {
            width: 100px;
            max-width: 100%;

            @media (width >= 768px) {
                transform: translateY(-10px);
            }
        }
    }
}


/* hearts */
.otherWorks__list .heart {
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.1450980392));
}

.otherWorks__list .heart__motion-graphics {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: zigzag ease-in-out 3s infinite;
}

.otherWorks__list .heart__motion-graphics.heart-doubled {
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten;
    z-index: 2;
    animation: zagzig ease-in-out 3s infinite;
}

.otherWorks__list .heart__motion-graphics.heart-doubled.heart-back {
    z-index: 0;
    mix-blend-mode: normal;
}

.otherWorks__list .animation__motion-graphics {
    position: relative;
    height: 50px;
}


/* Animations */

@keyframes tdrotate {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    24% {
        opacity: 1;
    }

    25% {
        opacity: 0.45;
    }

    50% {
        transform: rotateY(180deg) rotateX(30deg);
    }

    75% {
        opacity: 0.65;
    }

    76% {
        opacity: 1;
    }

    100% {
        transform: rotateY(360deg) rotateX(0deg);
    }
}

@keyframes zigzag {
    0% {
        transform: translate(-50%, -50%);
        filter: blur(0);
    }

    50% {
        transform: translate(-65%, -35%);
        filter: blur(2px);
    }

    100% {
        filter: blur(0);
        transform: translate(-50%, -50%);
    }
}

@keyframes zagzig {
    0% {
        transform: translate(-50%, -50%);
        filter: blur(0);
    }

    50% {
        transform: translate(-45%, -55%);
        filter: blur(2px);
    }

    100% {
        filter: blur(0);
        transform: translate(-50%, -50%);
    }
}